a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Roboto Regular, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a,
button,
input,
select {
  outline: 0 none !important;
}
::-webkit-input-placeholder {
  color: #878e95;
}
.toastjs-container {
  position: absolute;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 300px;
  max-width: 400px;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 100;
}
.toastjs-container[aria-hidden="false"] {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.toastjs {
  background: #fff;
  padding: 10px 15px;
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 4px;
  min-height: 60px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #868686;
}
.toastjs.default {
  border-left-color: #aaa;
}
.toastjs.success {
  border-left-color: #2ecc40;
}
.toastjs.warning {
  border-left-color: #ff851b;
}
.toastjs.danger {
  border-left-color: #ff4136;
}
.toastjs-btn {
  background: #f0f0f0;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.toastjs-btn--custom {
  background: #323232;
  color: #fff;
}
.toastjs-btn:focus,
.toastjs-btn:hover {
  outline: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
#customer-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  width: 100%;
  height: 100vh;
  -webkit-animation: layerShow 0.3s both;
  animation: layerShow 0.3s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#customer-layer .popover {
  width: 100%;
}
.layer-content {
  margin: auto;
}
.layer-content > div {
  -webkit-animation: layerContentScale 0.1s both;
  animation: layerContentScale 0.1s both;
}
@-webkit-keyframes layerShow {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.4);
  }
}
@keyframes layerShow {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.4);
  }
}
@-webkit-keyframes layerContentScale {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes layerContentScale {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.font-web-10 {
  font-size: 10px;
}
.font-web-11 {
  font-size: 11px;
}
.font-web-12 {
  font-size: 12px;
}
.font-web-13 {
  font-size: 13px;
}
.font-web-14 {
  font-size: 14px;
}
.font-web-15 {
  font-size: 15px;
}
.font-web-16 {
  font-size: 16px;
}
.font-web-18 {
  font-size: 18px;
}
.font-web-20 {
  font-size: 20px;
}
.font-web-21 {
  font-size: 21px;
}
.font-web-30 {
  font-size: 30px;
}
.font-web-36 {
  font-size: 36px;
}
.font-web-43 {
  font-size: 43px;
}
@media screen and (min-width: 0px) {
  .font-web-10 {
    font-size: 6.666666666666666px;
  }
  .font-web-11 {
    font-size: 7.333333333333333px;
  }
  .font-web-12 {
    font-size: 8px;
  }
  .font-web-13 {
    font-size: 8.666666666666666px;
  }
  .font-web-14 {
    font-size: 9.333333333333332px;
  }
  .font-web-15 {
    font-size: 10px;
  }
  .font-web-16 {
    font-size: 10.666666666666666px;
  }
  .font-web-18 {
    font-size: 12px;
  }
  .font-web-20 {
    font-size: 13.333333333333332px;
  }
  .font-web-21 {
    font-size: 14px;
  }
  .font-web-30 {
    font-size: 20px;
  }
  .font-web-36 {
    font-size: 24px;
  }
  .font-web-43 {
    font-size: 28.666666666666664px;
  }
}
@media screen and (min-width: 1280px) {
  .font-web-10 {
    font-size: 6.666666666666666px;
  }
  .font-web-11 {
    font-size: 7.333333333333333px;
  }
  .font-web-12 {
    font-size: 8px;
  }
  .font-web-13 {
    font-size: 8.666666666666666px;
  }
  .font-web-14 {
    font-size: 9.333333333333332px;
  }
  .font-web-15 {
    font-size: 10px;
  }
  .font-web-16 {
    font-size: 10.666666666666666px;
  }
  .font-web-18 {
    font-size: 12px;
  }
  .font-web-20 {
    font-size: 13.333333333333332px;
  }
  .font-web-21 {
    font-size: 14px;
  }
  .font-web-30 {
    font-size: 20px;
  }
  .font-web-36 {
    font-size: 24px;
  }
  .font-web-43 {
    font-size: 28.666666666666664px;
  }
}
@media screen and (min-width: 1366px) {
  .font-web-10 {
    font-size: 7.114583333333333px;
  }
  .font-web-11 {
    font-size: 7.826041666666667px;
  }
  .font-web-12 {
    font-size: 8.5375px;
  }
  .font-web-13 {
    font-size: 9.248958333333333px;
  }
  .font-web-14 {
    font-size: 9.960416666666667px;
  }
  .font-web-15 {
    font-size: 10.671875px;
  }
  .font-web-16 {
    font-size: 11.383333333333333px;
  }
  .font-web-18 {
    font-size: 12.806249999999999px;
  }
  .font-web-20 {
    font-size: 14.229166666666666px;
  }
  .font-web-21 {
    font-size: 14.940624999999999px;
  }
  .font-web-30 {
    font-size: 21.34375px;
  }
  .font-web-36 {
    font-size: 25.612499999999997px;
  }
  .font-web-43 {
    font-size: 30.59270833333333px;
  }
}
@media screen and (min-width: 1440px) {
  .font-web-10 {
    font-size: 7.5px;
  }
  .font-web-11 {
    font-size: 8.25px;
  }
  .font-web-12 {
    font-size: 9px;
  }
  .font-web-13 {
    font-size: 9.75px;
  }
  .font-web-14 {
    font-size: 10.5px;
  }
  .font-web-15 {
    font-size: 11.25px;
  }
  .font-web-16 {
    font-size: 12px;
  }
  .font-web-18 {
    font-size: 13.5px;
  }
  .font-web-20 {
    font-size: 15px;
  }
  .font-web-21 {
    font-size: 15.75px;
  }
  .font-web-30 {
    font-size: 22.5px;
  }
  .font-web-36 {
    font-size: 27px;
  }
  .font-web-43 {
    font-size: 32.25px;
  }
}
@media screen and (min-width: 1600px) {
  .font-web-10 {
    font-size: 8.333333333333334px;
  }
  .font-web-11 {
    font-size: 9.166666666666668px;
  }
  .font-web-12 {
    font-size: 10px;
  }
  .font-web-13 {
    font-size: 10.833333333333334px;
  }
  .font-web-14 {
    font-size: 11.666666666666668px;
  }
  .font-web-15 {
    font-size: 12.5px;
  }
  .font-web-16 {
    font-size: 13.333333333333334px;
  }
  .font-web-18 {
    font-size: 15px;
  }
  .font-web-20 {
    font-size: 16.666666666666668px;
  }
  .font-web-21 {
    font-size: 17.5px;
  }
  .font-web-30 {
    font-size: 25px;
  }
  .font-web-36 {
    font-size: 30px;
  }
  .font-web-43 {
    font-size: 35.833333333333336px;
  }
}
@media screen and (min-width: 1920px) {
  .font-web-10 {
    font-size: 10px;
  }
  .font-web-11 {
    font-size: 11px;
  }
  .font-web-12 {
    font-size: 12px;
  }
  .font-web-13 {
    font-size: 13px;
  }
  .font-web-14 {
    font-size: 14px;
  }
  .font-web-15 {
    font-size: 15px;
  }
  .font-web-16 {
    font-size: 16px;
  }
  .font-web-18 {
    font-size: 18px;
  }
  .font-web-20 {
    font-size: 20px;
  }
  .font-web-21 {
    font-size: 21px;
  }
  .font-web-30 {
    font-size: 30px;
  }
  .font-web-36 {
    font-size: 36px;
  }
  .font-web-43 {
    font-size: 43px;
  }
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 14rem;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
[v-cloak] {
  display: none;
}
.font-color-black {
  color: #353a3f;
}
.font-color-gray {
  color: #878e95;
}
.font-color-blue {
  color: #339af0;
}
.common-wrap-back {
  background: url(/ugc-web/assets/images/little_back.png) center 0
    no-repeat/100%;
  background-attachment: fixed;
}
.fw {
  font-weight: 500;
}
.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.3rem;
}
.loadingContainer .loading-text {
  color: #878e95;
  margin-right: 1rem;
}
#loading-svg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#loading-svg .loading {
  width: 1.5rem !important;
  display: block;
  -webkit-animation: spin 1.2s steps(12) infinite;
  animation: spin 1.2s steps(12) infinite;
}
.common-button {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.common-button:active {
  background: rgba(51, 154, 240, 0.2) !important;
}
#header {
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
}
#header #header-content {
  width: 60rem;
  margin: auto;
}
#footer {
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
}
#footer #footer-content {
  width: 60rem;
  margin: auto;
}
#wrap {
  max-width: 1920px;
  min-width: 1200px;
  margin: auto;
}
#wrap #wrap-content {
  width: 60rem;
  margin: auto;
}
.cursor {
  cursor: pointer;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.transparency {
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#363636),
      to(#463400)
    ),
    url(/ugc-web/assets/images/little_back.png) !important;
  background: -webkit-linear-gradient(left, #363636, #463400),
    url(/ugc-web/assets/images/little_back.png) !important;
  background: linear-gradient(to right, #363636, #463400),
    url(/ugc-web/assets/images/little_back.png) !important;
  background-repeat: no-repeat, no-repeat !important;
  background-position: center top, center top !important;
  background-size: 100%, 100% !important;
  background-blend-mode: multiply;
}
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5.55rem;
  z-index: 1;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#363636),
    to(#463400)
  );
  background: -webkit-linear-gradient(left, #363636, #463400);
  background: linear-gradient(to right, #363636, #463400);
}
#header #header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#header #header-content .left-icon {
  width: 6.85rem;
  height: 2.55rem;
}
#header #header-content .left-icon img {
  width: 100%;
  height: 100%;
}
#header #header-content .right-info {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
#header #header-content .right-info .player-time {
  margin-left: 2.4rem;
  cursor: pointer;
}
#header #header-content .right-info .player-time a {
  color: #fff;
}
#header #header-content .right-info .language {
  height: 2rem;
  margin-left: 2.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
#header #header-content .right-info .language .arrows {
  border: 0.35rem solid rgba(0, 0, 0, 0);
  border-top: 0.35rem solid #fff;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}
#header #header-content .right-info .language .langSelect div:hover {
  background: #eee;
}
#header #header-content .right-info .language .langSelect {
  width: 6rem;
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-3rem);
  transform: translateX(-3rem);
  border-radius: 0.3rem;
  overflow: hidden;
  display: none;
}
#header #header-content .right-info .language .langSelect .gray-back {
  background: #eee;
}
#header #header-content .right-info .language .showLangSelect {
  display: block;
}
#header #header-content .right-info .language .showLangSelect div {
  height: 2rem;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2rem;
  background: #fff;
  color: #353a3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#header #header-content .right-info .userInfo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2.4rem;
  position: relative;
}
#header #header-content .right-info .userInfo .login-btn {
  display: block;
  color: #fff;
  width: 94px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#header #header-content .right-info .userInfo .avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.4rem;
}
#header #header-content .right-info .userInfo .avatar img {
  width: 100%;
  height: 100%;
}
#header #header-content .right-info .userInfo .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#header #header-content .right-info .userInfo .user-box .arrows {
  border: 0.35rem solid rgba(0, 0, 0, 0);
  border-top: 0.35rem solid #fff;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}
#header #header-content .right-info .userInfo .showLogout {
  display: block !important;
}
#header #header-content .right-info .userInfo .logout:hover {
  background: #eee;
}
#header #header-content .right-info .userInfo .logout {
  width: 5rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  top: 2.5rem;
  right: 0;
  border-radius: 0.3rem;
  overflow: hidden;
  line-height: 2rem;
  text-align: center;
  color: #353a3f;
  display: none;
}
#footer {
  height: 11rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}
#footer .back-line {
  height: 0.3rem;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#363636),
    to(#463400)
  );
  background: -webkit-linear-gradient(left, #363636, #463400);
  background: linear-gradient(to right, #363636, #463400);
  margin-bottom: 1.45rem;
}
#footer #footer-content {
  height: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
}
#footer #footer-content .privacy .line {
  margin: 0 0.35rem;
}
#footer #footer-content .privacy a {
  color: #353a3f;
}
#footer #footer-content .guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#footer #footer-content .guide .guideText {
  margin-right: 0.45rem;
}
#footer #footer-content .guide img {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}
#layer-delete,
#layer-more {
  width: 22.5rem;
  background: #fff;
  border-radius: 10px;
}
#layer-delete {
  overflow: hidden;
}
#layer-delete .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#layer-delete .message .main {
  font-size: 18px;
  margin-bottom: 22px;
  line-height: 25px;
}
#layer-delete .message .tips {
  font-size: 14px;
  line-height: 20px;
}
#layer-delete .message span {
  color: #fa5252;
}
#layer-delete .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  background: #f1f3f5;
}
#layer-delete .btns > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#layer-delete .btns .delete {
  color: #339af0;
}
#layer-delete .btns .cancel {
  position: relative;
  border-right: 1px solid rgba(165, 170, 176, 0.2);
}
#layer-more .item {
  width: 100%;
  height: 73px;
  line-height: 73px;
  text-align: center;
  position: relative;
  display: block;
  font-size: 18px;
}
#layer-more .item:last-child:after {
  display: none;
}
#layer-more .item:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #f1f3f5;
}
#wrap {
  width: 100%;
  min-height: 100vh;
  background: url(/ugc-web/assets/images/big_back.png) center top;
  background-repeat: no-repeat;
  background-size: 100%;
}
#wrap #wrap-content .top-userContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 4.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 3.35rem;
}
#wrap #wrap-content .top-userContainer .left-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrap #wrap-content .top-userContainer .left-user .avatar {
  width: 10.4rem;
  height: 10.4rem;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  margin-left: 3.65rem;
  margin-right: 2.8rem;
  overflow: hidden;
  background: #e6e6e6;
}
#wrap #wrap-content .top-userContainer .left-user .avatar img {
  width: 100%;
  height: 100%;
}
#wrap #wrap-content .top-userContainer .left-user .userInfo .userName {
  height: 2.1rem;
  font-weight: 600;
  color: #353a3f;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
#wrap #wrap-content .top-userContainer .left-user .userInfo .introduce {
  width: 28.7rem;
  height: 2.4rem;
  overflow: hidden;
  line-height: 1.2rem;
  margin-bottom: 4.4rem;
}
#wrap #wrap-content .top-userContainer .left-user .userInfo .articleInfo {
  width: 30.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrap
  #wrap-content
  .top-userContainer
  .left-user
  .userInfo
  .articleInfo
  .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.6rem;
}
#wrap
  #wrap-content
  .top-userContainer
  .left-user
  .userInfo
  .articleInfo
  .follow
  div:nth-child(2) {
  margin-right: 0.35rem;
}
#wrap
  #wrap-content
  .top-userContainer
  .left-user
  .userInfo
  .articleInfo
  .follow
  .icon {
  width: 1rem;
  margin-right: 0.3rem;
}
#wrap
  #wrap-content
  .top-userContainer
  .left-user
  .userInfo
  .articleInfo
  .follow
  .icon
  img {
  width: 100%;
  height: 100%;
}
#wrap #wrap-content .top-userContainer .addArticle {
  width: 6.5rem;
  height: 1.5rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#363636),
    to(#463400)
  );
  background: -webkit-linear-gradient(left, #363636, #463400);
  background: linear-gradient(to right, #363636, #463400);
  border-radius: 0.95rem;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  margin-right: 0.8rem;
}
#wrap #wrap-content .bottom-cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
#wrap #wrap-content .bottom-cardList .article-card:nth-child(3n + 3) {
  margin-right: 0;
}
#wrap #wrap-content .bottom-cardList .article-card {
  margin-bottom: 1.8rem;
  margin-right: 1.15rem;
}
#wrap #wrap-content .bottom-cardList .article-card .noArticleContainer {
  width: 19.2rem;
  height: 18.55rem;
  background: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.8rem 0.8rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0.3rem 0.65rem rgba(0, 0, 0, 0.122);
  box-shadow: 0 0.3rem 0.65rem rgba(0, 0, 0, 0.122);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
#wrap #wrap-content .bottom-cardList .article-card .noArticleContainer img {
  width: 30%;
}
#wrap #wrap-content .bottom-cardList .article-card .articleContainer {
  width: 19.2rem;
  height: 18.55rem;
  background: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.8rem 0.8rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0.3rem 0.65rem rgba(0, 0, 0, 0.122);
  box-shadow: 0 0.3rem 0.65rem rgba(0, 0, 0, 0.122);
}
#wrap #wrap-content .bottom-cardList .article-card .articleContainer .cardPic {
  width: 17.6rem;
  height: 9.35rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .cardPic
  .draft {
  width: 3.3rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #363636;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .cardPic
  img {
  width: 100%;
}
#wrap #wrap-content .bottom-cardList .article-card .articleContainer .title {
  width: 17.5rem;
  height: 3.6rem;
  line-height: 1.2rem;
  color: #353a3f;
  margin: 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #f1f3f5;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo
  .leftNums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo
  .leftNums
  .comments
  img,
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo
  .leftNums
  .likes
  img {
  width: 0.9rem;
  vertical-align: middle;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo
  .leftNums
  .comments
  span,
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo
  .leftNums
  .likes
  span {
  color: #878e95;
  vertical-align: middle;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo
  .leftNums
  .likes {
  margin-right: 1.6rem;
}
#wrap
  #wrap-content
  .bottom-cardList
  .article-card
  .articleContainer
  .articleInfo
  .right-operate
  img {
  display: inline-block;
  width: 0.8rem;
  vertical-align: middle;
}
#wrap #wrap-content .bottom-cardList .article-card .linear {
  width: 19.2rem;
  height: 0.15rem;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#363636),
      to(#463400)
    )
    no-repeat bottom/100% 0.15rem;
  background: -webkit-linear-gradient(left, #363636, #463400) no-repeat
    bottom/100% 0.15rem;
  background: linear-gradient(to right, #363636, #463400) no-repeat bottom/100%
    0.15rem;
}
